## .NET Core
bin/
obj/
*.user
*.userosscache
*.suo
*.userprefs
*.dll
*.exe
*.pdb

## VS Code
.vscode/

## Visual Studio
.vs/
*.ncrunch*
*.dbmdl
*.jfm
*.pfx
*.publishsettings

## Rider
.idea/
*.sln.iml

## User-specific files
*.rsuser
*.user
*.userosscache
*.sln.docstates

## Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/